/* Custom CSS file to clean up the spacing around the Example div blocks. Ensure the whitespace groups the
example block more naturally with the Class above, as opposed to the methods below.*/

/* Increase empty-space around classes, methods, properties, etc. that are descendants
 of other items */
dl.class dl.py {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

/* Reduce empty-space around Notes and Examples headings */
p.rubric {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
