name: Labeler
on:
  pull_request:
    types: [opened, reopened, synchronize, edited, labeled]
  push:
    branches: [ main ]
    paths:
      - '../labels.yml'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  label-syncer:
    name: Syncer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: false

      - uses: micnncim/action-label-syncer@3abd5ab72fda571e69fffd97bd4e0033dd5f495c  # v1.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  labeler:
    name: Set labels
    permissions:
      pull-requests: write  # to allow the Action to add labels to PRs
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
    - name: Label based on changed files and branch names
      uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b  #v6.0.1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

  commenter:
    name: Suggest labels if missing
    runs-on: ubuntu-latest
    steps:
    - name: Suggest to add labels
      uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9  #v5.0.0
      # Execute only when no labels have been applied to the pull request
      if: toJSON(github.event.pull_request.labels.*.name) == '{}'
      with:
        issue-number: ${{ github.event.pull_request.number }}
        body: |
          Please add one of the following labels to add this contribution to the Release Notes :point_down:
          - [bug](https://github.com/ansys/grantami-bomanalytics/pulls?q=label%3Abug+)
          - [documentation](https://github.com/ansys/grantami-bomanalytics/pulls?q=label%3Adocumentation+)
          - [enhancement](https://github.com/ansys/grantami-bomanalytics/pulls?q=label%3Aenhancement+)
          - [maintenance](https://github.com/ansys/grantami-bomanalytics/pulls?q=label%3Amaintenance+)

  changelog-fragment:
    name: "Create changelog fragment"
    needs: [labeler]
    permissions:
      contents: write  # to allow the Action to push to the PR branch
      pull-requests: write  # to allow the Action to update the target PR
    runs-on: ubuntu-latest
    if: ${{ !startsWith( github.event.pull_request.head.ref, 'dependabot/') && !(startsWith(github.event.pull_request.head.ref, 'pre-commit-ci-update-config')) }}
    steps:
    - uses: ansys/actions/doc-changelog@41f86da4c9ead510db9135e428e33df9cc6f92e1  # v10.2.3
      with:
        token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
        bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
        bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}
