on:
  workflow_call:
    inputs:
      python-version:
        description: >
          Python version used for installing and running ``pre-commit``.
        default: '3.12'
        required: false
        type: string
      skip-vm-management:
        description: >
            Whether to skip or not the start up of the virtual machine. Default
            value is ``false``.
        required: false
        default: false
        type: boolean
    secrets:
      # Azure secrets
      AZURE_APP_ID:
        required: true
      AZURE_SECRET:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_RESOURCE_GROUP:
        required: true

      # Test server names
      AZURE_VM_NAME_DEV:
        required: true
      AZURE_VM_NAME_25R2:
        required: true
      AZURE_VM_NAME_25R1:
        required: true
      AZURE_VM_NAME_24R2:
        required: true
      AZURE_VM_NAME_24R1:
        required: true

      # Test server URLs
      TEST_SERVER_DEV_URL:
        required: true
      TEST_SERVER_25R2_URL:
        required: true
      TEST_SERVER_25R1_URL:
        required: true
      TEST_SERVER_24R2_URL:
        required: true

      # Test server credentials
      TEST_SERVER_READ_USER:
        required: true
      TEST_SERVER_READ_PASS:
        required: true
      TEST_SERVER_WRITE_USER:
        required: true
      TEST_SERVER_WRITE_PASS:
        required: true

      CODECOV_TOKEN:
        required: true
  workflow_dispatch:

concurrency:
  group: integration-server
  cancel-in-progress: false

jobs:

  start-vm:
    name: "Start Azure VM"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        server:
          - name: "AZURE_VM_NAME_DEV"
            url: "TEST_SERVER_DEV_URL"
          - name: "AZURE_VM_NAME_25R2"
            url: "TEST_SERVER_25R2_URL"
          - name: "AZURE_VM_NAME_25R1"
            url: "TEST_SERVER_25R1_URL"
          - name: "AZURE_VM_NAME_24R2"
            url: "TEST_SERVER_24R2_URL"
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: "Start VM with Azure CLI"
        id: azure_cli
        uses: azure/CLI@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956  #v2.2.0
        if:   ${{ !(inputs.skip-vm-management)}}
        with:
          azcliversion: 2.32.0
          inlineScript: |
            az login --service-principal -u ${{ secrets.AZURE_APP_ID }} -p ${{ secrets.AZURE_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
            az vm start -g ${{ secrets.AZURE_RESOURCE_GROUP }} -n ${{ secrets[matrix.server.name] }}

      - name: "Set up Python ${{ inputs.python-version }}"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}

      - name: "Check if server is ready"
        run: |
          python -m venv ./venv
          source ./venv/bin/activate
          pip install requests --disable-pip-version-check
          pip freeze
          python ./cicd/check_server.py
        env:
          TEST_SL_URL: ${{ secrets[matrix.server.url] }}
          TEST_USER: ${{secrets.TEST_SERVER_READ_USER}}
          TEST_PASS: ${{secrets.TEST_SERVER_READ_PASS}}

  integration-tests:
    name: "Integration tests: ${{ matrix.os }}, ${{ matrix.server }}"
    runs-on: ${{ matrix.os }}
    needs: start-vm
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
          - "windows-latest"
        server:
          - "TEST_SERVER_DEV_URL"
          - "TEST_SERVER_25R2_URL"
          - "TEST_SERVER_25R1_URL"
          - "TEST_SERVER_24R2_URL"
    concurrency:
      group: ${{ matrix.server }}
      cancel-in-progress: false
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: "Set up Python ${{ inputs.python-version }}"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}

      - name: "Install Python dependencies"
        run: |
          pip install poetry 'tox<4' --disable-pip-version-check

      - name: "Test with tox (integration tests only)"
        run: tox -e tests -- -m "integration"
        env:
          TEST_SL_URL: ${{ secrets[matrix.server] }}
          TEST_USER: ${{secrets.TEST_SERVER_READ_USER}}
          TEST_PASS: ${{secrets.TEST_SERVER_READ_PASS}}
          TEST_WRITE_USER: ${{secrets.TEST_SERVER_WRITE_USER}}
          TEST_WRITE_PASS: ${{secrets.TEST_SERVER_WRITE_PASS}}

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: .cov/xml
          flags: integration-${{ matrix.os }}-${{ matrix.server }}
          fail_ci_if_error: true

  doc-build:
    name: "Build documentation"
    runs-on: ubuntu-latest
    needs: integration-tests
    steps:
      - name: "Run Ansys documentation building action"
        uses: ansys/actions/doc-build@41f86da4c9ead510db9135e428e33df9cc6f92e1  # v10.2.3
        env:
          TEST_SL_URL: ${{secrets.TEST_SERVER_DEV_URL}}
          TEST_USER: ${{secrets.TEST_SERVER_READ_USER}}
          TEST_PASS: ${{secrets.TEST_SERVER_READ_PASS}}
          BUILD_EXAMPLES: "true"
        with:
          check-links: false
          dependencies: "pandoc"
          sphinxopts: "-n -W --keep-going"
          optional-dependencies-name: ""
          group-dependencies-name: "doc"

  check-workflow-runs:
    name: Check if there are active workflow runs
    needs: doc-build
    uses: ansys/pygranta/.github/workflows/check-concurrent-workflows.yml@main
    if: ${{ !cancelled() }}

  stop-vm:
    name: "Stop Azure VM"
    runs-on: ubuntu-latest
    needs: check-workflow-runs
    if: ${{ !cancelled() && !(inputs.skip-vm-management) && needs.check-workflow-runs.outputs.active-runs != 'true' }}
    strategy:
      matrix:
        server:
          - "AZURE_VM_NAME_DEV"
          - "AZURE_VM_NAME_25R2"
          - "AZURE_VM_NAME_25R1"
          - "AZURE_VM_NAME_24R2"
          - "AZURE_VM_NAME_24R1"
    steps:
      - uses: azure/CLI@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956  #v2.2.0
        with:
          azcliversion: 2.32.0
          inlineScript: |
            az login --service-principal -u ${{ secrets.AZURE_APP_ID }} -p ${{ secrets.AZURE_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
            az vm deallocate -g ${{ secrets.AZURE_RESOURCE_GROUP }} -n ${{ secrets[matrix.server] }} --no-wait
